<h1>Задачи</h1>
 

<ul>
 
  <% @projects.each do |project| %>
  
       <%= project.title %>
      
      
	  
	  
	  <% project.todos.each do |todo| %>

	  <%= todo.text %>
  <% end %>
	  
	  
      
      

  <% end %>

</ul>
